.card {
  display: flex;
  flex-direction: column;
  height: 403px;
  width: 200px;
  padding: 0 14px;
  border-radius: 5px;
  background: $cardMainColor;
  border: 1px solid $cardBorderColor;

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 194px;
  }

  &__img {
    align-self: center;
    width: 166px;
    height: 164px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px 0;
    border: 3px solid transparent;
    border-radius: 4px;
    transition: transform 1s;
    &:hover {
      transform: scale(1.2);
      border-color: $cardBorderColor;
    }
  }

  &__description {
    padding-top: 15px;
    height: 31px;
    @include productDescriptionFont();
  }

  &__code {
    padding-top: 19px;
    @include productCodeAndReviewFont();
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    &-reviews {
      @include productCodeAndReviewFont();
    }

    &-link {
      color: $navFontColorMain;
      text-decoration: none;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;

    &-text {
      @include productPriceFont();
    }

    &-value {
      @include productValueFont();
    }
  }

  &__button {
    text-align: center;
    line-height: 40px;
    background-color: $linkColor;
    color: $cardMainColor;
    border: 1px solid $linkColor;
    border-radius: 5px;
    transition: background-color 1s, color 1s;
    @include buttonFont();
    
    &:hover {
      background-color: $cardMainColor;
      color: $linkColor;
    }
  }
}
