.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $cardWidth);
  grid-auto-rows: $cardHeight;
  column-gap: $cardsHorIndent;
  row-gap: $cardVertIndent;
  width: $cardWidth * 4 + $cardsHorIndent * 3;
}
