$linkColor: #00acdc;
$navFontColorMain: #000;
$cardMainColor: #fff;
$cardBorderColor: #f3f3f3;
$cardWidth: 200px;
$cardHeight: 403px;
$cardsHorIndent: 48px;
$cardVertIndent: 50px;
$brandSize: 40px;
$headerBlockHeight: 60px;
$starImgLocation: url(../../src/images/star.svg);
$starActiveImgLocation: url(../../src/images/star-active.svg);
